.cards {
  display: flex;
  gap: 12px;

  overflow-x: auto;
  overscroll-behavior-x: contain;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  padding: 32px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;

  background: rgba(81, 81, 81, 0.2);

  min-width: 158px;
  max-width: 158px;

  text-align: center;

  & > .date {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
  }

  & > .wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    svg {
      font-size: 48px;
      min-width: 48px;
    }

    & > .temp {
      font-weight: 500;
    }
  }
}

.tabs {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.tab {
  opacity: 0.5;
  transition: all 0.3s ease;

  font-size: 20px;
  font-weight: 600;

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}
