.airConditions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .title {
    font-size: 20px;
    font-weight: 600;
  }
}

.conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 12px;
}

.condition {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  background: rgba(81, 81, 81, 0.2);
  color: white;

  & .head {
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 0.5;
  }

  & .value {
    font-weight: 400;
    font-size: 24px;
  }
}
