.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form {
  padding: 12px 16px;
  width: 100%;
  max-width: 558px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgba(81, 81, 81, 0.2);
  color: white;

  transition: all 0.3s ease;

  input {
    width: 100%;
  }

  svg {
    font-size: 24px;
    min-width: 24px;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  &:focus-within {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}
